.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  align-content: center;
  flex: 1;
  font-family: "IBM Plex Sans", sans-serif;
}

.socialLinks {
  padding-right: 70px;
  flex: none;
  align-self: flex-end;
}
